:root {
	--main-color:  rgb(37, 131, 174);
	--hover-color: rgb(49, 107, 134);
	--surface-3: rgb(196, 201, 211);
	--size-2: 10px;
	--size-3: 15px;
	--size-2: 12px;
	--size-4: 30px;
	--size-5: 40px;
    --size-6: 128px;
	--radius-2: 1rem;
	--shadow-2: 10px 10px rgb(132, 134, 137);
	--shadow-3: 10px 10px rgb(33, 35, 37);
}
