:root {
	--main-color:  rgb(69, 104, 164);
	--hover-color: rgb(63, 90, 137);
	--surface-3: rgb(196, 201, 211);
	--size-3: 15px;
	--size-2: 12px;
	--size-4: 30px;
	--radius-2: 1rem;
	--shadow-2: 10px 10px rgb(132, 134, 137);
	--shadow-3: 10px 10px rgb(33, 35, 37);
}

#menu
{
	position: fixed;
	width: 100%;
	height: 40px;
	background: var(--main-color);
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
}


#menu li
{
	color:black;
	text-align: center;
}

li {
	float: left;
}

li a{
	display: block;
	list-style-type: none;
	color: white;
	overflow: hidden;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

li a:hover{
	background-color: var(--hover-color);
	margin: 0;
}

section.section {
	text-align: center;
	border-top:  8px solid var(--main-color);
	border-radius: 5px;
	padding: 1rem;
}

.media-scroller {
	--_spacer: var(--size-3);
	display: grid;
	gap: var(--_spacer);
	grid-auto-flow: column;
	grid-auto-columns: 29%;
  
	padding: 0 var(--_spacer) var(--_spacer);
  
	overflow-x: auto;
	overscroll-behavior-inline: contain;
  }
  
.media-scroller--with-groups {
	grid-auto-columns: 80%;
  }
  
.media-group {
	display: grid;
	gap: var(--_spacer);
	grid-auto-flow: column;
  }
  
.media-element {
	display: grid;
	grid-template-rows: min-content;
	gap: var(--_spacer);
	padding: var(--_spacer);
	background: var(--surface-2);
	border-radius: var(--radius-2);
	box-shadow: var(--shadow-2);
  }
  
.media-element > img {
	inline-size: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
	cursor: pointer;
  }

.media-element:hover{
	box-shadow: var(--shadow-3);
}
  
.snaps-inline {
	scroll-snap-type: inline mandatory;
	scroll-padding-inline: var(--_spacer, 1rem);
  }
  
.snaps-inline > * {
	scroll-snap-align: start;
  }
  
.pop-up{
	position: fixed;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%) scale(0);
	width: 80%;
	max-width: 1600px;
	height: 90vh;
	max-height: 800px;
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.75);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
	overflow: hidden;
	transition: 1s;
	opacity: 0;
}

.pop-up.active {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}

.pop-up.active > * {
	opacity: 1;
	transition: opacity .5s;
	transition-delay: 1s;
}

.pop-up > * {
	opacity: 0;
}

.top-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: var(--main-color);
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-weight: 300;
}

.close-btn {
	position: absolute;
	top: 15px;
	right: 20px;
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
	border-radius: var(--size-2);
	cursor: pointer;
}

.close-btn:hover{
	color:black;
}

.arrow-btn {
	position: absolute;
	font-size: var(--size-4);
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	border-radius: var(--size-4);
	border: none;
	cursor: pointer;
	background-color: var(--surface-3);
}

.left-arrow {
	left: 10px;
}

.right-arrow {
	right: 10px;
}

.arrow-btn:hover{
	background-color: var(--hover-color);
}

.index {
	position: absolute;
	bottom: 10px;
	font-size: 30px;
	font-weight: 100;
	color: rgba(255, 255, 255, 0.6);
}

.large-image {
	margin-top: 0;
	max-width: 80%;
	max-height: 80%;
	min-width: 40%;
	min-height: 40%;
	object-fit: contain;
}